  .productReviewsFormHeading {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
    padding: 2vmax;
  }

  .headingClass {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  
  .parent {
    display: flex;
  }
  
  @media screen and (max-width: 600px) {
    .productReviewsContainer {
      border-left: none;
      border-top: 1px solid rgba(0, 0, 0, 0.158);
    }
  }